html {
    height: 100%;
}

body {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    padding: 3rem 2rem;
    width: fit-content;
    max-width: 100vw;
    border-radius: 1rem;
    text-align: center;
}

.sub-container {
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0.25rem 0.5rem 1rem #0002;
}

.sub-container input {
    outline: none;
    border: none;
    border-bottom: 1px solid #0002;
    font-size: 1rem;
    margin: 0.4rem 0;
    padding: 0.2rem;
    text-align: center;
}

.btn {
    display: inline-block;
    margin: 1rem 0.5rem;
    padding: 0.5rem 1rem;
    background: #fff;
    border: 1px solid #0002;
    border-radius: 1rem;
    transition: 0.5s;
    cursor: pointer;
}

.btn:hover {
    background: #000;
    color: #fff;
}