.main{
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: row;
    max-width: 100vw;
}


.contact{
    display: flex;
    flex-direction: row;
    padding: 0 1em;
    padding-left: 0;
}
.contact:hover{
    background: #222;
}

.contact-info{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    border-bottom: 1px solid #fff1
}

.contact img{
    width: 3em;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    margin: 1em;
    border-radius: 50%;
}

.contact-header{
    display: flex;
    flex-direction: column;
    color: #fff;
}
.contact-header h2{
    margin: 0;
    padding: 0;
    font-size: 1rem;
}
.contact-header .desc{
    font-size: 0.8em;
}

.input-icon{
    display: inline-block;
    color: #fff;
    font-size: 1.5rem;
    margin: 1rem;
}